.container {
    display: flex;
    margin: 40px auto;

    & .searchDetailsContainer {
        width: 25%;
        padding-right: 20px;
    }

    & .productsWrapper {
        width: 75%;
    }

    @media screen and (max-width: 1200px) {
        flex-wrap: wrap;
        margin-top: 0;

        & .searchDetailsContainer {
            padding: 0;
            width: 100%;
        }

        & .productsWrapper {
            margin-top: 40px;
            width: 100%;
        }
    }
}