.buyNow {
    display: flex;
    margin-top: 40px;

    &.readyToPay {
	justify-content: center;
    }

    & .shippingOptions {
	width: 700px;
	margin-right: 20px;
	margin-bottom: 40px;
    }

    & .productList {
	position: relative;
	width: 100%;
	max-width: 480px;
	height: fit-content;
	background: var(--black);

	& .total {
	    padding: 20px;
	    display: flex;
	    font-size: 20px;
	    justify-content: space-between;
	    color: var(--light);
	}

	& .errorMessage {
	    padding: 20px;
	    margin: 0;
	    color: var(--red);
	    font-weight: bold;
	    font-size: 14px;
	}

	& .buyButton {
	    padding: 0 20px;
	    margin-top: 20px;
	}

	& .loaderContainer {
	    z-index: 1000;
	    position: absolute;
	    top: 0;
	    left: 0;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    width: 100%;
	    height: 100%;
	    background: rgba(var(--black-rgb), .6);
	}
    }

    @media screen and (max-width: 1200px) {
	&.readyToPay {
	    & .productList {
		display: block;
	    }
	}

	& .shippingOptions {
	    padding: 20px;
	    width: 100%;
	    margin: 0;
	    margin-bottom: 40px;
	}

	& .productList {
	    display: none;
	}
    }

    @media screen and (max-width: 600px) {
	& .shippingOptions {
	    padding: 0;
	}
    }
}
