.addressCard {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 20px;
    background: var(--black);
    border: solid 1px var(--black);
    margin-bottom: 20px;

    &.selected {
	border-color: var(--blue);

	& .checkbox:before {
	    display: block;
	}
    }

    & .loaderContainer {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background: var(--black);
	opacity: .6;
    }

    & p {
	margin: 0;
    }

    & .firstDetail {
	color: var(--light);
	font-size: 18px;
	margin-bottom: 10px;
    }

    & .details {
	color: var(--gray);
	font-size: 16px;
    }

    & .checkbox {
	position: absolute;
	right: 20px;
	display: block;
	width: 20px;
	height: 20px;
	border: solid 2px var(--blue);
	border-radius: 50%;

	&:before {
	    content: "";
	    position: absolute;
	    top: 3px;
	    left: 3px;
	    width: 10px;
	    height: 10px;
	    display: none;
	    border-radius: 50%;
	    background: var(--blue);
	}
    }

    & .options {
	margin-top: 10px;

	& .option {
	    cursor: pointer;
	    color: var(--blue);
	    background: transparent;
	    border: none;
	    font-size: 16px;
	    margin-right: 10px;
	}
    }
}
