.product {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    & .image {
	width: 100px;
	height: 100px;
	margin-right: 20px;
    }

    & .details {
	& p {
	    margin: 0;
	}

	& .title {
	    color: var(--light);
	    font-weight: bold;
	    font-size: 20px;
	    text-decoration: none;
	    transition: .3s;

	    &:hover {
		color: var(--blue);
	    }
	}

	& .price {
	    display: flex;
	    align-items: center;
	    font-size: 16pz;

	    & .currentPrice {
		color: var(--light);
		font-size: 1.562em;
	    }

	    & .oldPrice {
		color: var(--gray);
		margin-left: 10px;
		font-weight: bold;
		font-size: 0.875em;
	    }

	    & .discount {
		color: var(--green);
		margin-left: 10px;
		font-size: 1.25em;
		font-weight: bold;
	    }
	}

	& .quantity {
	    color: var(--gray);
	    font-size: 14px;
	}
    }

    @media screen and (max-width: 600px) {
	& .details {
	    & .price {
		font-size: 12px;

		& .oldPrice {
		    display: none;
		}
	    }
	}
    }
}
