@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --black: #191a1c;
    --black-semiTransparent: rgb(25, 26, 28, .9);
    --light: #d2dbe2;
    --gray: rgba(210, 218, 226, .6);
    --blue: #4BCFFA;
    --green: #20DB77;
    --red: #f14d52;

    --blue-rgb: 75, 207, 250;
    --black-rgb: 25, 26, 28;

    --background: #262A2B;
}

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background: var(--background);
}

.wrapper {
    min-height: calc(100vh - 170px);
}

.container {
    display: block;
    margin: auto;
    width: 100%;
    max-width: 1200px;
}

.subtitle {
    margin: 0;
    font-size: 25px;
    color: var(--light);
    font-weight: bold;
}

.search-input {
    position: relative;
    width: 100%;
    font-size: 14px;

    & input {
        border: none;
        width: 100%;
        height: 40px;
        background: var(--light);
        color: var(--black);
        font-weight: bold;
        padding: 0 10px;
    }

    & button {
        cursor: pointer;
        position: absolute;
        right: 0;
        width: 40px;
        height: 40px;
        background: var(--light);
        color: var(--black);
        border: none;
    }
}

.submit-button {
    cursor: pointer;
    display: block;
    width: 100%;
    height: 50px;
    margin-top: 20px;
    border: none;
    font-weight: bold;
    font-size: 16px;
    color: var(--black);
    background: var(--blue);
    transition: .3s;

    &:hover {
	background: transparent;
	color: var(--light);
    }

    &.secondary {
	color: var(--light);
	background: var(--background);

	&:hover {
	    color: var(--blue);
	    background: rgba(var(--blue-rgb), .2);
	}
    }
}

.loader {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: solid 3px var(--blue);
    border-top: solid 3px var(--black);
    animation: rotation .8s infinite linear;
}

@media screen and (max-width: 1200px) {
    .subtitle {
        margin-left: 20px;
    }
}

@media screen and (max-width: 768px) {
    .subtitle {
        font-size: 18px;
    }
}

@keyframes rotation {
    from {
	transform: rotate(0deg);
    }
    to {
	transform: rotate(360deg);
    }
}
