.container {
    margin-top: 40px;

    & .product {
	display: flex;
	flex-wrap: wrap;
	background: var(--black);
	padding: 20px;

	& .imageCarousel {
	    width: 700px;
	    margin-right: 20px;
	}

	& .productDetails {
	    width: 440px;
	}

	& .description {
	    width: 700px;
	    color: var(--light);
	    font-size: 20px;

	    & .subtitle {
		font-weigth: bold;
		margin-top: 40px;
	    }

	    & .content {
		margin-top: 20px;
		line-height: 2;
	    }
	}
    }
}
