.productDetails {
    padding: 20px;

    & .title {
	color: var(--light);
	font-size: 25px;
	font-weight: bold;
	margin: 0;
    }

    & .calification {
	display: flex;

	& .reviews {
	    margin-left: 10px;
	    color: var(--gray);
	    font-size: 14px;
	}
    }

    & .priceContainer {
	display: flex;
	align-items: center;

	& .price {
	    color: var(--light);
	    font-size: 30px;
	}

	& .oldPrice {
	    color: var(--gray);
	    font-size: 16px;
	    margin-left: 10px;
	}

	& .discount {
	    color: var(--green);
	    font-size: 20px;
	    font-weight: bold;
	    margin-left: 10px;
	}
    }

    & .moreInfo {
	display: block;
	color: var(--gray);
	font-weight: normal;
	margin-left: 20px;
    }

    & .info {
	margin-top: 20px;
	color: var(--blue);
	font-size: 16px;
	font-weight: bold;

	& i {
	    margin-right: 5px;
	}	
    } 

    & .withourStock {
	font-size: 14px;
	font-weight: bold;
	color: var(--red);
    }

    & .warranty {
	margin-top: 20px;
	color: var(--light);
	font-weight: bold;
	font-size: 16px;
    }

    @media screen and (max-width: 1200px) {
	padding: 0;
	max-width: 440px;
    }
}

