.notifications {
    & .title {
	color: var(--light);
	font-size: 25px;
	margin: 0;
    }

    & .emptyMessage {
	text-align: center;
	background: var(--black);
	padding: 20px 0;
	color: var(--blue);
	font-size: 20px;
	font-weight: bold;
    }
}
