.products {
    color: var(--light);

    & .title {
	font-weight: bold;
	font-size: 25px;
	margin: 0;
    }

    & .filterOptions {
    	padding: 20px;
    	background: var(--black);
    }

    & .products {
    	background: var(--black);
    }
}
