.products {
    color: var(--light);

    & .title {
	font-weight: bold;
	font-size: 25px;
	margin: 0;
    }

    & .filterOptions {
    	padding: 20px;
    	background: var(--black);
    }

    & .notFound {
	color: var(--blue);
	font-weight: bold;
	font-size: 20px;
    }

    & .loaderContainer,
    & .notFound {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 250px;
    	background: var(--black);
    }

    & .products {
    	background: var(--black);
    }

    & .pagination {
	width: 100%;
	background: var(--black);
    }
}
