.message {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    font-size: 14px;
    font-weight: bold;

    &.success {
	background: var(--green);
	color: var(--black);
    }

    &.error {
	background: var(--red);
	color: var(--light);
    }
}
